*{
    font-family: monospace;
}
body{
    background-color: white;
}

.grid{
    width: 600px;
    height: 500px;
    margin: auto;
    background-color:paleturquoise;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid;

}

.grid h1{
    font-size: 30px;
    text-align: center;
    color: black;
    font-weight: bolder;
    padding: 2px 0px;
    border-radius: 2px;
}

.grid #question{
    font-size: 32px;
    color:navy;
    text-align: center;
}

.buttons{
    margin-top: 30px;
}
#btn0, #btn1, #btn2, #btn3{
    background-color: whitesmoke;
    width: 250px;
    font-size: 25px;
    color: blue;
    border: 1px solid;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;

}
#progress{
    color:black;
    font-size: 25px;
}


#timer{
    background-color: whitesmoke;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid;
    font-size: 30px;
    height: 40px;
    margin: 0;
    width: 100px;
}

